.image{
    width: 200px;
    height: 50px;
}
.arxafon{
    background-image:url('../Image/foto1.jpg') ;    
    background-repeat: no-repeat;
    background-position: top right; 
}
.li1{
    color: rgb(251, 149, 251)!important ;
}
.li2{
    color: rgb(97, 199, 255)!important ;
}
.li3{
    color: rgb(232, 255, 129)!important ;
}
.li4{
    color: rgb(149, 251, 198)!important ;
}
.li5{
    color: rgb(255, 193, 70)!important ;
}
.div1{
    border: 2px solid rgb(236, 196, 144);
    border-radius: 20px;
    color: aliceblue;
    background-color: black;
}
.bg-purple{
    background: #450080!important;
}